.large-hero {
	padding: 15vh $pageSidePadding;
	background-color: $gray;
	color: $white;

	@include small-breakpoint {
		padding: 15ch $largePageSidePadding;
	}

	&__content {
		max-width: $contentWidth;
		margin: 0px auto;
	}

	&__title {
		font-family: $titleFontStack;
		font-size: 3rem;
		font-weight: 300;

		margin-top: 0;
		margin-bottom: 1rem;

		&_highlight {
			font-weight: 500;
			color: $blue;
		}

		@include large-breakpoint {
			max-width: 335px;
		}
	}
	&__subtitle {
		font-family: $titleFontStack;
		font-size: 2.5rem;
		font-weight: 200;
		margin: 1rem 0;

		@include large-breakpoint {
			max-width: 508px;
		}
	}
}
