.icon-bar {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1200;

	&__content {
		width: 0rem;
		overflow: hidden;
		transition: width 0.5s;
		box-shadow: 0.1rem 0.1rem 10px -5px $gray;
	}

	&__icon {
		text-align: center;
		font-size: 3.5rem;
		padding: 0.25rem;
		display: block;
		color: $white;
		background-color: $paleGray;

		&:hover {
			background-color: $paleBlue;
		}

		&_toggle {
			font-size: 2.5rem;
			background-color: $paleGray;
			box-shadow: 0.1rem 0.1rem 10px -5px $gray;
		}

		&_github {
			background: #24292e;
			&:hover {
				background: #555e66;
			}
		}

		&_twitter {
			background: #1da1f2;
			&:hover {
				background: #64b3e3;
			}
		}

		&_linkedin {
			background: #0073b1;
			&:hover {
				background: #5892b1;
			}
		}
	}
}
