.header {
	padding: 1px 0rem;
	background-color: $gray;

	@include small-breakpoint {
		padding-right: $largePageSidePadding;
		padding-left: $largePageSidePadding;
	}

	&__content {
		max-width: 64rem;
		margin: 0rem auto;
	}

	&__link {
		color: $white;
		text-decoration: none;
		font-family: $titleFontStack;
		font-weight: 500;

		&_large {
			font-size: 2rem;
		}

		&_align-center {
			text-align: center;
		}

		&_align-center-until-medium {
			text-align: center;

			@include medium-breakpoint {
				text-align: left;
			}
		}

		&_highlight {
			color: $blue;
			font-family: "Fira Sans", sans-serif;
			font-weight: 700;
		}
	}

	&__nav {
		list-style-type: none;
		padding: 0px 1rem;
	}
}
