$gray: #333;
$paleGray: #adadad;

$white: #fafafa;

$blue: #3f8bcd;
$paleBlue: #94a9bb;

$extraSmall: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;

$pageSidePadding: 3.4rem;
