$width: 85vw;
$height: calc(#{$width} / (1.618 * 3));

.card {
	box-shadow: 10px 10px 35px -8px $paleGray;
	width: $width;
	max-width: 24rem;
	height: $height;
	max-height: 5.15rem;
	// background: $paleGray;
	// color: white;
	margin: 1rem auto;
	border-radius: 0.5rem;
	position: relative;
	display: block;
	overflow: hidden;

	&__symbol {
		font-size: 2rem;
	}

	&__section {
		position: relative;
		text-align: center;
		height: $height;
		max-height: 5.15rem;
		color: $gray;

		&_gray {
			background-color: $gray;
			color: $white;
		}
		&_center {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
		}
	}

	&__text {
		margin: 0;
		display: block;
		width: 60vw;
		font-size: 1rem;
		@include small-breakpoint {
			font-size: 1.5rem;
		}
	}

	&__link {
		text-decoration: none;
		display: block;
		color: $gray;
		font-family: $titleFontStack;
		transition: background-color 0.3s;

		&:hover {
			background-color: $paleBlue;
		}
	}
}
